@import "tailwindcss/base";
@import "tailwindcss/components";
@import "tailwindcss/utilities";

@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap");

:root {
  --border-color: rgb(181, 188, 181);
}
html {
  box-sizing: border-box;
}

*,
*:before,
*:after {
  box-sizing: inherit;
}

body {
  font-family: "Roboto", sans-serif;
  color: #122d32;
}

.empty-btn,
.btn {
  padding: 5px 20px;
  font-size: 11pt;
}

.btn {
  border: 1px solid rgb(212, 212, 212);
  border-radius: 4pt;
  box-shadow: 0 2px 2px 0 rgba(146, 146, 146, 0.2);
  background-color: white;
}
.page-title {
  font-size: 14pt;
  font-weight: 500;
}
.component-label {
  padding: 30px 0;
  border: 1px solid red;
}
.inventory-list {
  font-size: 11pt;
}
.loader-spinner {
  animation: spinner 1s infinite linear;
}

@keyframes spinner {
  100% {
    transform: rotate(360deg);
  }
}

.sidebar,
.topbar {
  background-color: #001d22;
  color: #c7cdcd;
  padding: 0px 20px 10px 25px;
}
.sidebar {
  min-height: 100svh;
}

.result {
  border-bottom: 1px solid rgb(240, 240, 240);
}
.circle {
  background-color: #001d22;
  width: 12px;
  aspect-ratio: 1/1;
  border-radius: 50%;
  display: inline-block;
}
.green {
  background-color: rgb(0, 153, 0);
}
.red {
  background-color: rgb(153, 0, 0);
}

tr > * {
  padding: 8px 0;
}
.inventory-header,
.result {
  text-align: left;
}
.content-area {
  background-color: white;
}
.content-padding {
  padding: 20px;
}
.border-top-bottom {
  border-bottom: 1px solid var(--border-color);
  border-top: 1px solid var(--border-color);
}
.border-bottom-only {
  border-bottom: 1px solid var(--border-color);
}

.edit-field input {
  font-size: 11pt;
  padding: 4px;
  border: 1px solid rgb(211, 211, 211);
  border-radius: 3px;
}
.edit-field label {
  display: block;
  font-size: 11pt;
  font-weight: 400;
  margin-bottom: 0.3rem;
}

input[type="checkbox"] {
  margin-left: 12px;
}
.login-btn {
  display: flex;
  align-items: center;
}

.sidebar-button {
  display: flex;
  align-items: center;
  padding: 7px 10px;
  padding-right: 80px;
  border-radius: 5px;
  font-size: 11pt;
  font-weight: 300;
  text-decoration: none;
}
.list-heading {
  display: flex;
  align-items: center; /* Align icon and text vertically */
}

.img-container {
  width: 250px;
  height: 300px;
  background-color: #dfdfdf;
}

.active-button {
  background-color: #26433c;
  box-shadow: 0 -1px 1px 0 rgb(85, 105, 96);
  color: rgb(255, 255, 255);
}
.nav-mobile {
  display: none;
  margin-top: 40px;
}
.nav-toggle:checked + nav {
  display: block;
}
.nav-toggle {
  display: none;
}
.topbar {
}

.nav-toggle-label {
  position: absolute;
  top: 30px;
  right: 20px;
  display: flex;
  align-items: center;
}

.nav-toggle-label span,
.nav-toggle-label span::before,
.nav-toggle-label span::after {
  display: block;
  background-color: white;
  height: 3px;
  width: 2em;
  border-radius: 2px;
  position: relative;
}
.nav-toggle-label span::before,
.nav-toggle-label span::after {
  content: "";
  position: absolute;
}
.nav-toggle-label span::before {
  bottom: 7px;
}
.nav-toggle-label span::after {
  top: 7px;
}

.roboto-thin {
  font-family: "Roboto", sans-serif;
  font-weight: 100;
  font-style: normal;
}

.roboto-light {
  font-family: "Roboto", sans-serif;
  font-weight: 300;
  font-style: normal;
}

.roboto-regular {
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  font-style: normal;
}

.roboto-medium {
  font-family: "Roboto", sans-serif;
  font-weight: 500;
  font-style: normal;
}

.roboto-bold {
  font-family: "Roboto", sans-serif;
  font-weight: 700;
  font-style: normal;
}

.roboto-black {
  font-family: "Roboto", sans-serif;
  font-weight: 900;
  font-style: normal;
}

.roboto-thin-italic {
  font-family: "Roboto", sans-serif;
  font-weight: 100;
  font-style: italic;
}

.roboto-light-italic {
  font-family: "Roboto", sans-serif;
  font-weight: 300;
  font-style: italic;
}

.roboto-regular-italic {
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  font-style: italic;
}

.roboto-medium-italic {
  font-family: "Roboto", sans-serif;
  font-weight: 500;
  font-style: italic;
}

.roboto-bold-italic {
  font-family: "Roboto", sans-serif;
  font-weight: 700;
  font-style: italic;
}

.roboto-black-italic {
  font-family: "Roboto", sans-serif;
  font-weight: 900;
  font-style: italic;
}

.cards > div {
  box-shadow: 0 4px 6px hsla(0, 0%, 0%, 0.1);
  border-radius: 7pt;
  padding: 20px 40px;
}

.cards > div > p {
  color: rgb(155, 155, 155);
  font-size: 10pt;
  text-transform: uppercase;
}
.cards > div > h2 {
  font-weight: 500;
  font-size: 20pt;
}

.quick-actions > button {
  font-size: 14px;
  padding: 8px 10px;
  background-color: #3381b8;
  color: white;
  border-radius: 3px;
}
.dashboard-section > h2 {
  text-transform: uppercase;
  font-size: 10pt;
  font-weight: 500;
}

.bookings > li {
  border-bottom: 1px solid rgb(200, 200, 200);
  padding: 10px 0;
}
